<script lang="ts">
import Vue from "vue";
import { Component, Emit, Watch, Prop } from "nuxt-property-decorator";

@Component({
  asyncData(context){
    console.log("async test")
    // console.log(context)
    /*const Database = require('better-sqlite3');
    const db = new Database('foobar.db', { verbose: console.log });
    console.log(db)
    const db1 = require('better-sqlite3')('chinook.db');
    console.log(db1)*/
  },
  //nuxtServerInit
})
export default class extends Vue {
  auth: 'guest';

  created(){
  }

}
</script>
<template>
  <div class="container">
    <div>
      <Logo />
      <h1 class="title">
         Server
      </h1>
      <div class="links">
        <a
          href="https://nuxtjs.org/"
          target="_blank"
          rel="noopener noreferrer"
          class="button--green"
        >
          Documentation
        </a>
        <a
          href="https://github.com/nuxt/nuxt.js"
          target="_blank"
          rel="noopener noreferrer"
          class="button--grey"
        >
          GitHub
        </a>
      </div>
    </div>
  </div>
</template>

<style>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family:
    'Quicksand',
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
